/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(255, 254, 249);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.navigation {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}

button {
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 20px;
	background-color: white;
	font-size: 16px;
	padding: 5px;
	font-style: italic;
}

button:hover {
	background-color: #1D6154;
	color: white;	
}

a {
	text-decoration: none;
	color: inherit;
}
/* Login */

.se-connecter {
	display: flex;
	justify-content: center;
}

.login {
	margin:30px;
}

.login input {
	border: 1px solid white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 300px;
	height: 25px;
}

.login p {
	margin-bottom: 10px;
	margin-top: 15px;
}

.login h2 {
	text-align: center;
}

.envoyer {
	margin-top: 25px;
	width: 150px;
	color: white;
	background-color: #1D6154;
	margin-left: 80px;
	margin-bottom: 20px;
	display: block;
}

.mdp-oublier {
	text-decoration: underline;
	text-align: center;
}

.edition {
	background-color: black;
	width: 100%;
	height: 50px;	
	color: white;
	position: fixed;
	top: -15px;
	left: 0px;
	display: none;
}

.edition p {
	text-align: center;
	padding: 25px;
}

#icon {	
	padding-right: 15px;
}

.mesProjets {
	display: flex;
	justify-content: center;
}

.modifier {
		margin-top: 10px;
		margin-left: 20px;
		display: none;
		cursor: pointer;
}

/* modale 1*/

.modale {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.bordure {
	border: 1px solid gray;
}

.contenu {
	position: relative;
	background-color: white;
	text-align: center;
	width: 400px;
	height: 500px;
	padding: 25px 50px 25px 50px;
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
}

#titre-modale h2 {
	color: black;
	font-size: 20px;
}

.close-btn {
	position: absolute;
	top: 20px;
	right: 40px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;	
}


.add-photos {
	color: white;
	background-color: #1D6154;
	width: 300px;
	margin-top: 30px;
	font-style: normal;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
}

.gallery-modale {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 20px;
	padding-top: 30px;
	padding-bottom: 50px;	
}

.gallery-modale img {
	width: 100%;
}

.icone-supp {
	display: block;
	color: white;
	border: 1px solid black;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: black;
	padding: 2px;
	position: absolute;
	margin-left: 48px;
	margin-top: 5px;
	cursor: pointer;
}

.icone-supp i {
	font-size: 10px;
	display: flex;
	justify-content: center;
}
/* Modale 2 / Formualaire */

.form-ajout-photo {
	border: 1px solid rgb(234, 241, 245);
	background-color: rgb(234, 241, 245);
	width: 300px;
	height: 150px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#icone-image {
	display: flex;
	justify-content: center;
	font-size: 60px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: rgb(205, 214, 219)
}	

#imageUrl {
	display: none;
}

.ajouter-photo {
	border: 1px solid rgb(205, 214, 219);
	background-color: rgb(205, 214, 219);
	border-radius: 20px;
	color:rgb(62, 100, 130);
	cursor: pointer;
	padding: 5px;
	width: 100px;
}

#taille-max {
	margin-top: 20px;
	font-size: 0.7em;
}

.titre-et-cat {
	padding-bottom: 30px;
}

.titre-et-cat input, select {
	border: 1px solid white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 300px;
	height: 30px;
}

.titre-et-cat p {
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: justify;
	margin-left: 48px;
}

#bordure {
	border: 1px solid gray;
	margin: auto;
	width: 300px;
}

.valider-photos {
	background-color: grey;
	border: 1px solid gray;
	margin-top: 30px;
	padding: 5px;
	color: white;
	width: 200px;
	cursor: pointer;
	font-style: normal;
}

.valider-photos:hover {
	background-color: gray;
}

#retour {
	position: absolute;
	top: 20px;
	left: 40px;
    font-size: 20px;
    cursor: pointer;	
}